
# BEGIN INDEX
# Директивы (строки) между `BEGIN INDEX` и `END INDEX`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.
Options -Indexes
# END INDEX